
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la altura de la ventana */
}

.layout-main {
  flex: 1; /* empuja el footer al fondo si hay poco contenido */
  padding: 1rem; /* opcional: agrega espacio al contenido */
}