.main-logo {
  background-color: rgb(254, 254, 193);
}

.for-buyers{
background-color: rgb(189, 219, 139);
}

.for-sellers{
background-color: rgb(70, 222, 169);
}

.register-login {
  background-color: rgb(255, 238, 126);
}