
.notificaciones ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.notificaciones .card {
    margin-top: 10px;
    width: 1000px;
}

.cartelError {
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 992px) {


    .notificaciones ul {
        list-style: none;
        padding: 10px;
        /*width: 95vw;*/
    }

    .notificaciones .card {
        width: 100%;
    }
}